In [2]:
import pandas as pd
from io import StringIO
path = rpath = r"C:\Users\admin\Downloads\968050_1.csv"
try:
    with open(path, "r", encoding="utf-8", errors="replace") as f:
        content = f.read()
    df = pd.read_csv(StringIO(content), on_bad_lines='skip', low_memory=False)
    useful_columns = [
        "address", "city", "province", "postalCode",
        "numBedroom", "numBathroom", "yearBuilt",
        "mostRecentPriceAmount", "mostRecentRentalPriceAmount"
    ]
    filtered_cols = [col for col in useful_columns if col in df.columns]
    df_cleaned = df[filtered_cols]
    df_cleaned = df_cleaned.dropna(subset=["address", "city", "mostRecentPriceAmount"])
    df_cleaned.to_csv("cleaned_datafiniti.csv", index=False)
    print("Cleaned and saved to cleaned_datafiniti.csv")
    print(df_cleaned.head())
except Exception as e:
    print("Failed to process file:", e)

Cleaned and saved to cleaned_datafiniti.csv
Empty DataFrame
Columns: [address, city, province, postalCode, numBedroom, numBathroom, yearBuilt, mostRecentPriceAmount, mostRecentRentalPriceAmount]
Index: []

In [3]:
df_cleaned

Empty DataFrame
Columns: [address, city, province, postalCode, numBedroom, numBathroom, yearBuilt, mostRecentPriceAmount, mostRecentRentalPriceAmount]
Index: []

In [4]:
df.columns

Index(['id', 'address', 'apiURLs', 'assessedValues', 'brokers', 'buildingName',
       'city', 'companies', 'congressionalDistrictHouse', 'country',
       ...
       'propertyType', 'province', 'reviews', 'rules', 'subdivision',
       'sourceURLs', 'statuses', 'taxID', 'transactions', 'yearBuilt'],
      dtype='object', length=102)

In [5]:
df.head()

,id,address,apiURLs,assessedValues,brokers,buildingName,city,companies,congressionalDistrictHouse,country,...,propertyType,province,reviews,rules,subdivision,sourceURLs,statuses,taxID,transactions,yearBuilt
0,ML3PEYkBod0R46D1aZzN,7312 N Jefferson Place Cir Unit A,NaN,NaN,"[{""agent"":""Rhett Sandusky"",""company"":""Keller W...",NaN,Baton Rouge,NaN,178.0,US,...,Condo,LA,NaN,NaN,"Jefferson Place, A Condominium",https://www.xome.com/homes-for-sale/7312-N-Jef...,"[{""date"":""2025-03-03T00:00:00.000Z"",""dateSeen""...",NaN,"[{""saleDate"":""2023-02-14T00:00:00.000Z"",""buyer...",1985.0
1,UqAfKZgB2lpWZeFlNCvQ,30214 11th Pl S,NaN,NaN,"[{""agent"":""Kyle Fox"",""company"":""Windermere Re/...",NaN,Federaly,NaN,NaN,US,...,Single Family Dwelling,WA,NaN,NaN,NaN,https://www.xome.com/homes-for-sale/30214-11th...,"[{""date"":""2025-07-19T00:00:00.000Z"",""dateSeen""...",8080970140,NaN,2025.0
2,GZ5zB4kBod0R46D1QBw4,1212 23rd St,NaN,NaN,"[{""agent"":""Angela Hissam"",""company"":""Swc Realt...",NaN,Vienna,NaN,434.0,US,...,Single Family Dwelling,WV,NaN,NaN,Valley View Adn,https://www.zillow.com/homedetails/1212-23rd-S...,"[{""date"":""2025-06-26T00:00:00.000Z"",""dateSeen""...",10-7-00430000,"[{""saleDate"":""2004-02-26T08:00:00.000Z"",""price...",1958.0
3,8bcEDpUBAgEU5ktwwaTO,722 S Alcantara Cir Lot 74,NaN,NaN,"[{""agent"":""Matthew Shelton"",""company"":""Visiona...",NaN,St George,NaN,NaN,US,...,Single Family Dwelling,UT,NaN,NaN,NaN,https://www.redfin.com/UT/St-George/722-Alcant...,"[{""date"":""2025-02-11T00:00:00.000Z"",""dateSeen""...",NaN,NaN,NaN
4,eWYRZ5cB5p3ULnC0BWyU,549 W Independence St Unit 207,NaN,NaN,"[{""agent"":""Laura Hogan"",""company"":""Acre 411"",""...",NaN,Grantsville,NaN,NaN,US,...,Single Family Dwelling,UT,NaN,NaN,NaN,https://www.redfin.com/UT/Grantsville/153-S-Li...,"[{""date"":""2025-06-11T00:00:00.000Z"",""dateSeen""...",24-020-0-0207,NaN,2025.0

In [ ]:
import random
import pandas as pd
from faker import Faker
fake = Faker()
def generate_dummy_data(n=100):
    property_types = ["Detached", "Semi-Detached", "Condo", "Townhouse"]
    cities = ["Toronto", "Ottawa", "Mississauga", "Vancouver", "Calgary"]
    provinces = ["ON", "BC", "AB", "QC"]
    country = "United States"
    data = []
    for _ in range(n):
        city = random.choice(cities)
        province = random.choice(provinces)
        year_built = random.randint(1970, 2022)
        size = random.randint(600, 4000)
        bedrooms = random.randint(1, 5)
        bathrooms = random.randint(1, 4)
        price = size * random.uniform(300, 800)
        data.append({
            "address": fake.street_address(),
            "city": city,
            "province": province,
            "country": country,
            "propertyType": random.choice(property_types),
            "yearBuilt": year_built,
            "size": size,
            "bedrooms": bedrooms,
            "bathrooms": bathrooms,
            "mostRecentPriceAmount": round(price, 2)
        })
    return pd.DataFrame(data)

In [10]:
data_list = generate_dummy_data(100)

In [11]:
data_list

,address,city,province,country,propertyType,yearBuilt,size,bedrooms,bathrooms,mostRecentPriceAmount
0,0608 Margaret Village Apt. 636,Vancouver,BC,United States,Townhouse,1976,962,5,2,512915.56
1,97872 Nguyen Shoal,Vancouver,ON,United States,Detached,1996,2365,3,3,1254301.75
2,502 Connie Road Apt. 166,Toronto,AB,United States,Townhouse,1986,1027,4,4,769244.86
3,983 Christopher Burgs,Ottawa,AB,United States,Detached,1996,692,1,1,416649.59
4,762 Jessica Squares,Ottawa,ON,United States,Detached,2017,1261,5,3,419322.73
...,...,...,...,...,...,...,...,...,...,...
95,46623 Cline Points Apt. 789,Vancouver,AB,United States,Semi-Detached,2013,3822,4,2,2896389.21
96,3789 Hunter Track Suite 883,Mississauga,BC,United States,Semi-Detached,1999,2947,5,4,1364524.74
97,7129 Smith Brooks Apt. 214,Ottawa,QC,United States,Condo,1999,1476,1,3,1020076.43
98,1836 Mckenzie Gardens,Vancouver,BC,United States,Detached,1971,820,5,3,519321.34
99,6744 Stephens Villages,Calgary,ON,United States,Detached,2020,3112,1,4,1573488.90

In [12]:
import random
import pandas as pd
from faker import Faker
fake = Faker()
def generate_dummy_data(n=100):
    property_types = ["Detached", "Semi-Detached", "Condo", "Townhouse"]
    cities = ["Toronto", "Ottawa", "Mississauga", "Vancouver", "Calgary"]
    provinces = ["ON", "BC", "AB", "QC"]
    country = "Australia"
    data = []
    for _ in range(n):
        city = random.choice(cities)
        province = random.choice(provinces)
        year_built = random.randint(1970, 2022)
        size = random.randint(600, 4000)
        bedrooms = random.randint(1, 5)
        bathrooms = random.randint(1, 4)
        price = size * random.uniform(300, 800)
        data.append({
            "address": fake.street_address(),
            "city": city,
            "province": province,
            "country": country,
            "propertyType": random.choice(property_types),
            "yearBuilt": year_built,
            "size": size,
            "bedrooms": bedrooms,
            "bathrooms": bathrooms,
            "mostRecentPriceAmount": round(price, 2)
        })
    return pd.DataFrame(data)